.dropdown {
  display: none;
  color: #ffff;
  padding-top: 0.5rem;
  position: relative;
  font-size: 1.8rem;
  cursor: pointer;
}

.dropdown-left {
  margin: 0 auto 0 3%;
}

.dropdown-left > .dropdown-menu {
  transform: translate(1em, 0.25em);
}

.dropdown-right {
  margin: 0 3% 0 auto;
}

.dropdown-right > .dropdown-menu {
  transform: translate(-9.5em, 0.25em);
}

.dropdown.icon-button svg {
  width: 30px;
  height: 30px;
}

.dropdown:hover {
  box-shadow: 0px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
}

.dropdown-menu {
  position: absolute;
  top: calc(0.4 * var(--bar-height));
  border: var(--border);
  background: var(--bar-bg);
  border-radius: var(--border-radius);
  padding: 5px;
  overflow: hidden;
  z-index: 100;
}

.dropdown-menu > * {
  display: inline-block;
  margin-bottom: 0.5em;
}

@media screen and (max-width: 1000px) {
  .dropdown {
    display: block;
  }
}
