.array-container {
  position: absolute;
  width: 90%;
  left: 5%;
  right: 5%;
  top: 12%;
  vertical-align: bottom;
}

.array-bar {
  width: 0.19%;
  background-color: aqua;
  display: inline-block;
  margin: 1px;
}
