.array-container {
  margin: 0%;
  position: absolute;
  width: 100%;
  /* left: 5%;
  right: 5%; */
  top: 12%;
  height: 88%;
  text-align: center;
  background: radial-gradient(#a9a9a9, #9198e5);
}

.array-bar {
  background-color: aqua;
  display: inline-block;
  margin: 1px;
}
